:root {
    --primary: #1e3a8a; /* Azul Judicial */
    --secondary: #d4af37; /* Oro Legal */
    --accent: #38a169; /* Éxito */
    --error: #e53e3e; /* Error */
    --text: #2d3748; /* Gris Oscuro */
    --bg: #f8f9fa; /* Fondo Claro */
}

/* Hero Section Styles */
.hero {
    background-image: url("assets/img/home-background.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 120px;
    overflow: hidden;
}

.container {
    text-align: center;
    color: white;
}

h1,
p {
    margin: 0;
    line-height: 1.5;
}

.logo {
    width: 300px;
    max-width: 100%;
    display: block;
    animation: morphingSvg 2s ease-out both;
}

@keyframes morphingSvg {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

/* CTA Section Styles */
.cta-section {
    padding: 50px 0;
    background-color: #f3f4f6;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition:
        background-color 0.3s ease-in-out,
        transform 0.3s ease-in-out;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-secondary {
    background-color: var(--secondary);
}

.btn-accent {
    background-color: var(--accent);
}

.btn:hover {
    transform: translateY(-2px);
    background-color: #2d3748;
}

/* Footer Section Styles */
.footer {
    padding: 50px 0;
    background-color: var(--bg);
}

.social-media {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.social-media li {
    margin: 0 10px;
}

.social-media i {
    font-size: 24px;
    color: #2d3748;
}

.footer p {
    text-align: center;
    font-size: 16px;
    color: #555;
}
