:root {
    --primary: #1e3a8a; /* Azul Judicial */
    --secondary: #d4af37; /* Oro Legal */
    --accent: #38a169; /* Éxito */
    --error: #e53e3e; /* Error */
    --text: #2d3748; /* Gris Oscuro */
    --bg: #f8f9fa; /* Fondo Claro */
}

/* Tipografía */
body {
    font-family: "Inter", sans-serif;
}
h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
}
